<h1>Books</h1>

<% @books.each do |book| %>
<section id="book-<%= book.id %>">
Title: <%= book.title %>
Number of Pages: <%= book.number_of_pages %>
Publication Year: <%= book.publication_year %>
<% book.authors.map do |author| %>
<%= link_to "#{author.name}", "/authors/#{author.id}", method: :get %>
<% end %>
</section>
<% end %>
